*{
margin:0;
padding:0;
box-sizing:border-box;
}

html{
scroll-behavior:smooth;
}

body{
font-family:'Manrope',sans-serif;
background:#F7F2EA;
color:#2E2E2E;
}

.hero{

height:100vh;

background-image:url("IMG_4410.jpeg");

background-size:cover;

background-position:center top;
padding-top:40px;
padding-bottom:40px;
display:flex;

justify-content:center;

align-items:flex-end;
padding-bottom:10px;

padding:28px;

}

.overlay{

width:100%;
max-width:430px;

padding:34px;

border-radius:30px;

background:rgba(255,255,255,.18);

backdrop-filter:blur(22px);

border:1px solid rgba(255,255,255,.35);

text-align:center;

color:white;

margin-bottom:15px;

}

.date{

font-size:14px;

letter-spacing:4px;

text-transform:uppercase;

margin-bottom:18px;

opacity:.95;

}

h1{

font-family:'Cormorant Garamond',serif;

font-size:68px;

font-weight:600;

line-height:.9;

margin-bottom:20px;

}

.subtitle{

font-size:21px;

line-height:1.6;

margin-bottom:35px;

}

.button{

display:inline-block;

padding:18px 42px;

background:white;

border-radius:100px;

text-decoration:none;

font-weight:700;

font-size:20px;

color:#526B2D;

transition:.3s;

}

.button:hover{

transform:translateY(-2px);

}

.info{

padding:90px 30px;

max-width:760px;

margin:auto;

text-align:center;

}

.info h2{

font-family:'Cormorant Garamond',serif;

font-size:54px;

color:#526B2D;

margin-bottom:30px;

}

.info p{

font-size:22px;

line-height:1.9;

color:#555;

}
