*{
margin:0;
padding:0;
box-sizing:border-box;
}

html{
scroll-behavior:smooth;
}

body{
font-family:'Manrope',sans-serif;
background:#F7F2EA;
color:#2E2E2E;
overflow-x:hidden;
}

/* ---------- Первый экран ---------- */

.hero{

height:100vh;

display:flex;

justify-content:center;

align-items:flex-end;

padding:20px;

background:
linear-gradient(rgba(0,0,0,.12),rgba(0,0,0,.25)),
url("IMG_4410.jpeg");

background-size:cover;

/* Самое главное */

background-position:center top;

background-repeat:no-repeat;

}

/* ---------- Карточка ---------- */

.card{

width:100%;
max-width:420px;

margin-bottom:20px;

padding:34px 28px;

border-radius:30px;

background:rgba(255,255,255,.18);

backdrop-filter:blur(22px);

-webkit-backdrop-filter:blur(22px);

border:1px solid rgba(255,255,255,.28);

box-shadow:
0 12px 40px rgba(0,0,0,.18);

text-align:center;

color:white;

}

/* ---------- Дата ---------- */

.small{

font-size:15px;

letter-spacing:5px;

text-transform:uppercase;

opacity:.95;

margin-bottom:22px;

}

/* ---------- Заголовок ---------- */

h1{

font-family:'Cormorant Garamond',serif;

font-size:72px;

font-weight:600;

line-height:.9;

margin-bottom:25px;

}

/* ---------- Подзаголовок ---------- */

.subtitle{

font-size:20px;

line-height:1.7;

margin-bottom:34px;

}

/* ---------- Кнопка ---------- */

.button{

display:block;

width:100%;

padding:20px;

border-radius:100px;

background:white;

color:#556F31;

text-decoration:none;

font-size:22px;

font-weight:600;

transition:.3s;

}

.button:hover{

transform:translateY(-3px);

}

/* ---------- Следующий экран ---------- */

.info{

max-width:760px;

margin:auto;

padding:90px 25px;

text-align:center;

}

.info h2{

font-family:'Cormorant Garamond',serif;

font-size:54px;

color:#526B2D;

margin-bottom:28px;

}

.info p{

font-size:20px;

line-height:1.9;

color:#555;

}

/* ---------- Телефон ---------- */

@media(max-width:430px){

.hero{

background-position:center top;

padding:16px;

}

.card{

padding:28px 22px;

margin-bottom:14px;

}

h1{

font-size:64px;

}

.subtitle{

font-size:18px;

}

.button{

font-size:18px;

padding:18px;

}

}
